extends /master/app

block mainContent
  section.container-fluid
    header
      h1 Categorias
      hr
    section
      header
        a(href='/category/form').btn.btn-primary Nova Categoria
      section
        table.table.table-bordered
          thead
            tr
              td Ações
              td Nome
          tbody
            tr
              td
                a(href='#').btn.btn-default
                  span.glyphicon.glyphicon-pencil
                a(href='#').btn.btn-danger
                  span.glyphicon.glyphicon-trash
              td Internet
            tr
              td
                a(href='#').btn.btn-default
                  span.glyphicon.glyphicon-pencil
                a(href='#').btn.btn-danger
                  span.glyphicon.glyphicon-trash
              td Internet
            tr
              td
                a(href='#').btn.btn-default
                  span.glyphicon.glyphicon-pencil
                a(href='#').btn.btn-danger
                  span.glyphicon.glyphicon-trash
              td Internet
            tr
              td
                a(href='#').btn.btn-default
                  span.glyphicon.glyphicon-pencil
                a(href='#').btn.btn-danger
                  span.glyphicon.glyphicon-trash
              td Internet