extends /master/app

block mainContent
  section.container
    header
      h1 Novo Usuário
      hr
    section
      form(action='/user/add', method='POST')
        div.row
          div.col-xs-12
            label(for='email') Email
            input.form-control#email(type='email', required=true, maxlength=100. name='user[email]')
        div.row
          div.col-xs-12
            label(for='password') Senha
            input.form-control#password(type='password', required=true, maxlength=100. name='user[password]')
        div.row
          div.col-xs-12
            button.btn.btn-primary(type='submit') Cadastrar